.cardPergunta{
  margin: 5px;
}

.cabecalho{
  background-color: #751aff;
  padding: 15px;
  margin-bottom: 10px;
}

.divPerguntas{
  border: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.divTarget{
  margin-bottom: 5px;
}

.divTarget div{
  min-height: 100px;
}